/.vs/EcoleafAPI
/Common/bin/Debug/net7.0/Common.dll
/Common/bin/Debug/net7.0/Common.pdb
/Common/obj/Debug/net7.0/ref/Common.dll
/Common/obj/Debug/net7.0/refint/Common.dll
/Common/obj/Common.csproj.nuget.dgspec.json
/Common/obj/Common.csproj.nuget.g.props
/Common/obj/Debug/net7.0/Common.AssemblyInfo.cs
/Common/obj/Debug/net7.0/Common.AssemblyInfoInputs.cache
/Common/obj/Debug/net7.0/Common.assets.cache
/Common/obj/Debug/net7.0/Common.csproj.AssemblyReference.cache
/Common/obj/Debug/net7.0/Common.csproj.CoreCompileInputs.cache
/Common/obj/Debug/net7.0/Common.csproj.FileListAbsolute.txt
/Common/obj/Debug/net7.0/Common.dll
/Common/obj/Debug/net7.0/Common.GeneratedMSBuildEditorConfig.editorconfig
/Common/obj/Debug/net7.0/Common.pdb
/Common/obj/Debug/net7.0/Common.sourcelink.json
/Common/obj/project.assets.json
/Common/obj/project.nuget.cache
/EcoleafAPI/bin/Debug/net8.0/Common.dll
/EcoleafAPI/bin/Debug/net8.0/Common.pdb
/EcoleafAPI/bin/Debug/net8.0/EcoleafAPI.dll
/EcoleafAPI/bin/Debug/net8.0/EcoleafAPI.exe
/EcoleafAPI/bin/Debug/net8.0/EcoleafAPI.pdb
/EcoleafAPI/obj/Debug/net8.0/ref/EcoleafAPI.dll
/EcoleafAPI/obj/Debug/net8.0/refint/EcoleafAPI.dll
/EcoleafAPI/obj/Debug/net8.0/apphost.exe
/EcoleafAPI/obj/Debug/net8.0/EcoleafAPI.AssemblyInfo.cs
/EcoleafAPI/obj/Debug/net8.0/EcoleafAPI.AssemblyInfoInputs.cache
/EcoleafAPI/obj/Debug/net8.0/EcoleafAPI.assets.cache
/EcoleafAPI/obj/Debug/net8.0/EcoleafAPI.csproj.AssemblyReference.cache
/EcoleafAPI/obj/Debug/net8.0/EcoleafAPI.csproj.CoreCompileInputs.cache
/EcoleafAPI/obj/Debug/net8.0/EcoleafAPI.csproj.FileListAbsolute.txt
/EcoleafAPI/obj/Debug/net8.0/EcoleafAPI.dll
/EcoleafAPI/obj/Debug/net8.0/EcoleafAPI.GeneratedMSBuildEditorConfig.editorconfig
/EcoleafAPI/obj/Debug/net8.0/EcoleafAPI.genruntimeconfig.cache
/EcoleafAPI/obj/Debug/net8.0/EcoleafAPI.pdb
/EcoleafAPI/obj/Debug/net8.0/EcoleafAPI.sourcelink.json
/EcoleafAPI/obj/EcoleafAPI.csproj.nuget.dgspec.json
/EcoleafAPI/obj/EcoleafAPI.csproj.nuget.g.props
/EcoleafAPI/obj/project.assets.json
/EcoleafAPI/obj/project.nuget.cache
.vs/ProjectEvaluation/ecoleafapi.metadata.v8.bin
/.vs
