################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SolutionTemplate/config/applicationhost.config
/.vs/SolutionTemplate/DesignTimeBuild/.dtbcache.v2
/.vs/SolutionTemplate/FileContentIndex/577522f6-b4d4-432c-b71a-5860b5eaec77.vsidx
/.vs/SolutionTemplate/FileContentIndex/f53e5980-1219-41fe-ae8e-f6f2bfaa7783.vsidx
*.lock
[Bb]in/
[Oo]bj/
.vs/
*.suo
/.vs/SolutionTemplate/v17/.futdcache.v2
/.vs/SolutionTemplate/DesignTimeBuild/.dtbcache.v2
/.vs/VSWorkspaceState.json
/.vs/ProjectEvaluation/solutiontemplate.metadata.v7.bin
/.vs/ProjectEvaluation/solutiontemplate.projects.v7.bin
/.vs/POS-ECR/v17/.wsuo
/API/Properties/PublishProfiles/FolderProfile.pubxml.user
/API/Properties/PublishProfiles/FolderProfile1.pubxml.user
/API/wwwroot/images/brands
/WEB/wwwroot/logs/log-web-20240528.txt
/WEB/wwwroot/logs/log-web-20240529.txt
/API/wwwroot/logs/api
